<style>
    .m-widget26__number {
        position: relative;
    }

    .m-widget26__number span {
        position: absolute;
        right: 10%;
        top: 0px;
        opacity: 0.3;
    }

    .m-widget26__number span i {
        font-size: 5rem;
    }

    #drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        padding: 50px 20px;
    }

    #drop-area.highlight {
        border-color: #e79e46;
    }

    .my-form {
        margin-bottom: 10px;
    }

    #liveContainer video{box-shadow:0 0 25px 5px rgba(0,0,0,.1);    height: 150px;}

</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content" style="margin-top: 20px;">

        <div class="row">

            <div class="col-md-12">
                <div class="m-portlet m-portlet--tabs" style="border-top:2px solid #ff9800">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Face Detection
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <button class="btn btn-xs btn-warning" onclick="$('#imgFile').click()"><i
                                    class="fa fa-cloud-upload"></i> Upload Image
                            </button>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="paddingx">
                                                Left
                                            </label>
                                            <input type="number" class="form-control m-input m-input--air m-input--pill" id="paddingx" min="0" value="10">
                                            <small>Padding X</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="paddingy">
                                                Top
                                            </label>
                                            <input type="number" class="form-control m-input m-input--air m-input--pill" id="paddingy" min="0" value="15">
                                            <small>Padding Y</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="paddingw">
                                                Right
                                            </label>
                                            <input type="number" class="form-control m-input m-input--air m-input--pill" id="paddingw" min="0" value="10">
                                            <small>Padding Width</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="paddingh">
                                                Bottom
                                            </label>
                                            <input type="number" class="form-control m-input m-input--air m-input--pill" id="paddingh" min="0" value="15">
                                            <small>Padding Height</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="paddingh">
                                                Crop Deduct
                                            </label>
                                           <button class="form-control btn btn-outline-primary" onclick="uploadFile()">Appy</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-12 fileDrag">
                                <div id="drop-area">
                                    <form class="my-form">
                                        <p style="text-align: center">Drag and Drop images onto the dashed
                                            region</p>

                                    </form>
                                </div>

                                <div class="form-group" style="margin-top: 20px;text-align: center">

                                    <input type="file" style="display: none" id="imgFile"
                                           onchange="camBlob = null;uploadFile()"/>
                                </div>
                            </div>
                            <div class="col-md-4 webCam" style="text-align: center;display: none">
                                <div id="liveContainer"></div>
                                <button class="btn btn-xs btn-warning" onclick="liveCapture()"><i
                                        class="fa fa-camera"></i> Capture Image
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="processingImage"></div>
                            </div>
                        </div>
                        <div class="row mt-5 resultDiv">

                        </div>
                        <div class="row mt-2 resultImage" style="">

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="/js/jquery.userCam.min.js"></script>
<script src="/controllers/dashboard.js"></script>

<div id="resultModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="max-width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Result JSON</h4>
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 5px;top: 11px;"><i class="la la-close"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <pre style="height: 300px;overflow: auto;" id="resultJson"></pre>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


