<style>
    .iconMenu{

        font-size: 3rem !important;
        padding: 20px 0px !important;

    }
    .m-menu__item--active i{
        color: #ff9800 !important;
    }
</style>
<button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
    <!-- BEGIN: Aside Menu -->
    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
            data-menu-vertical="true"
            data-menu-scrollable="true" data-menu-dropdown-timeout="500">

        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active leftMenu predmenu" data-toggle="m-tooltip" title="Image Prediction" data-placement="right">
                <a  href="/dashboard" class="m-menu__link ">
                    <i class="m-menu__link-icon la la-smile-o iconMenu"></i>
                    <span class="m-menu__link-text">Image Prediction</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>