<!DOCTYPE html>
<html lang="en" class="ie8">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7"/>

    <title>Machine Learning Explored</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
          name="viewport"/>

    <meta content="Boodskap Inc.," name="author"/>


    <meta name="theme-color" content="#346f50"/>



    <link href="images/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/style.min.css" rel="stylesheet"/>
    <link href="/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/css/default.css" rel="stylesheet" id="theme"/>
    <link href="/css/fontawesome-all.min.css" rel="stylesheet"/>
    <script src="/libraries/pace.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>

        body {
            margin: 0;
            font-family: "Poppins" !important;
            font-weight: 400;
            color: #212529;
            text-align: left;
            background-color: #fff; }
    </style>


</head>
<body class="pace-top bg-white">
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<div id="page-container" class="fade">
    <div class="login login-with-news-feed">
        <div class="news-feed" style="border-right:1px solid #eee;">
            <div class="col-lg-12 loginCustom">



                <% include text-slider.html %>



            </div>

        </div>
        <div class="right-content">
            <div class="login-header" style="text-align: center">
                <div class="brand">
                    <a href="/login"><img class="loginLogo" src="/images/bdskap-logo.png" height="50"/></a>
                </div>
            </div>
            <div class="login-content">
                <form action="javascript:void(0)" class="margin-bottom-0" onsubmit="login()">
                    <div class="form-group m-b-15">
                        <label>Username</label>
                        <input type="text" class="form-control form-control-lg" id="username" placeholder="" required/>
                    </div>
                    <div class="form-group m-b-15">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-lg" id="password" placeholder=""
                               required/>
                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-warning btn-block btn-lg" id="submitButton">Sign me in
                        </button>
                    </div>
                    <!--<div class="m-t-20 m-b-40 p-b-40 text-inverse">
                        Not a member yet? Click <a href="/register" class="text-warning textColor">here</a> to register.
                    </div>-->

                    <p class="m-t-20 m-b-40 p-b-40" style="text-align: center">
                        <small><a href="https://boodskap.io/terms-conditions" target="_blank"
                                  class="text-warning textColor">Terms & Conditions</a> |
                            <a href="https://boodskap.io/privacy-policy" target="_blank" class="text-warning textColor">Privacy
                                Policy</a>
                        </small>
                    </p>
                    <hr/>
                    <p class="text-center text-grey-darker">
                        &copy; <span class="currentYear"></span> All rights reserved.
                        <a href="https://boodskap.io" target="_blank" class="text-warning textColor poweredBy">Powered by Boodskap Inc.,</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

</div>

<div id="snackbar"></div>


<script src="/libraries/jquery-3.2.1.min.js"></script>
<script src="/libraries/jquery-ui.min.js"></script>
<script src="/libraries/bootstrap.bundle.min.js"></script>
<script src="/libraries/html5shiv.js"></script>
<script src="/libraries/respond.min.js"></script>
<script src="/libraries/excanvas.min.js"></script>
<script src="/libraries/jquery.slimscroll.min.js"></script>
<script src="/libraries/js.cookie.js"></script>
<script src="/libraries/default.min.js"></script>
<script src="/libraries/apps.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/particles.min.js"></script>

<script src="/controllers/utils.js"></script>
<script src="/controllers/login.js"></script>


<script>
    $(document).ready(function () {
        App.init();
    });
</script>
</body>
</html>

