<style>
    @font-face {
        font-family: myFirstFont;
        src: url(/fonts/quicksand/Quicksand_Dash.otf);
    }

    .heart{
        position: fixed;top:25%;z-index: 99;
        left:5%
    }
    .hText {
        /*font-family: myFirstFont;*/
        position: fixed;
        z-index: 99;
        color: #fff;
        font-size: 3rem;
        font-weight: normal;
        top: 30%;
        left:5%
    }

    .hText p{
        font-family: "Open Sans";
        font-size: 14px;
        width: 85%;
        color: #fff;
        text-align: justify;
        margin-top: 10px;
        background-color: #020b05;
        padding: 10px;
    }

    .news-feed{
        background-color: #f59c1b !important;
    }
    .news-caption{
    }

</style>

<div id="blocks" style="position: fixed;width:100%;height: 100%;left:0px;z-index:9999"></div>

<img src="/images/bg2.png" style="position: fixed;width: 100%;opacity: 0.4" />



<div style="text-align: center;margin-top: 10%">
    <img src="/images/bg1.png" />

</div>

<div class="news-caption leftBottomBg" style="position: fixed;width: 100%;bottom: 0px;left:0px;
background: linear-gradient(to bottom, rgb(245, 156, 27) 0, #a96d17 100%) !important">

    <h4 class="caption-title titleName" style="font-weight: bold">Machine Learning Explored
    </h4>
    <p class="sloganText">Face Detection, Face Annotation, Adult Image, Logos, Labels, Web Content , Safe Search detections.</p>
</div>
